:root {
  --red: red;
  --dark-blue: blue;
  --light-blue: cornflowerblue;
  --yellow: yellow;
  --green: green;
  --pink: pink;
  --orange: orange;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.pixel {
  background: var(--yellow);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;

  box-shadow: 
  
  /* column 1 */ -180px -180px white, -180px -170px white,
    -180px -160px white, -180px -150px white, -180px -140px white,
    -180px -130px white, -180px -120px white, -180px -110px white,
    -180px -100px white, -180px -90px white, -180px -80px white,
    -180px -70px white, -180px -60px white, -180px -50px white,
    -180px -40px white, -180px -30px white, -180px -20px white,
    -180px -10px white, -180px 0px white, -180px 10px white, -180px 20px white,
    -180px 30px white, -180px 40px white, -180px 50px white,
    /* column 2 */ -170px -180px var(--dark-blue),
    -170px -170px var(--dark-blue), -170px -160px white, -170px -150px white,
    -170px -140px white, -170px -130px white, -170px -120px white,
    -170px -110px white, -170px -100px white, -170px -90px white,
    -170px -80px white, -170px -70px white, -170px -60px white,
    -170px -50px white, -170px -40px white, -170px -30px white,
    -170px -20px white, -170px -10px white, -170px 0px white, -170px 10px white,
    -170px 20px white, -170px 30px white, -170px 40px white, -170px 50px white,
    /* column 3 */ -160px -180px var(--dark-blue),
    -160px -170px var(--dark-blue), -160px -160px white, -160px -150px white,
    -160px -140px white, -160px -130px white, -160px -120px white,
    -160px -110px white, -160px -100px white, -160px -90px white,
    -160px -80px white, -160px -70px white, -160px -60px white,
    -160px -50px white, -160px -40px white, -160px -30px white,
    -160px -20px white, -160px -10px white, -160px 0px white, -160px 10px white,
    -160px 20px white, -160px 30px white, -160px 40px white, -160px 50px white,
    /* column 4 */ -150px -180px white, -150px -170px white,
    -150px -160px var(--red), -150px -150px var(--red), -150px -140px white,
    -150px -130px white, -150px -120px white, -150px -110px white,
    -150px -100px white, -150px -90px white, -150px -80px white,
    -150px -70px white, -150px -60px white, -150px -50px white,
    -150px -40px white, -150px -30px white, -150px -20px white,
    -150px -10px white, -150px 0px white, -150px 10px white, -150px 20px white,
    -150px 30px white, -150px 40px white, -150px 50px white,
    /* column 5 */ -140px -180px white, -140px -170px white,
    -140px -160px var(--red), -140px -150px var(--red),
    -140px -140px var(--yellow), -140px -130px var(--red),
    -140px -120px var(--red), -140px -110px white, -140px -100px white,
    -140px -90px white, -140px -80px white, -140px -70px white,
    -140px -60px white, -140px -50px white, -140px -40px white,
    -140px -30px white, -140px -20px white, -140px -10px white, -140px 0px white,
    -140px 10px white, -140px 20px white, -140px 30px white, -140px 40px white,
    -140px 50px white, /* column 6 */ -130px -180px white, -130px -170px white,
    -130px -160px white, -130px -150px var(--yellow),
    -130px -140px var(--yellow), -130px -130px var(--red),
    -130px -120px var(--red), -130px -110px var(--yellow),
    -130px -100px var(--yellow), -130px -90px var(--red), -130px -80px white,
    -130px -70px white, -130px -60px white, -130px -50px white,
    -130px -40px white, -130px -30px white, -130px -20px white,
    -130px -10px white, -130px 0px white, -130px 10px white, -130px 20px white,
    -130px 30px white, -130px 40px white, -130px 50px white,
    /* column 7 */ -120px -180px white, -120px -170px white, -120px -160px white,
    -120px -150px var(--red), -120px -140px var(--red),
    -120px -130px var(--yellow), -120px -120px var(--yellow),
    -120px -110px var(--red), -120px -100px var(--red), -120px -90px white,
    -120px -80px white, -120px -70px white, -120px -60px white,
    -120px -50px white, -120px -40px white, -120px -30px var(--yellow),
    -120px -20px var(--yellow), -120px -10px var(--yellow),
    -120px 0px var(--yellow), -120px 10px white, -120px 20px white,
    -120px 30px white, -120px 40px var(--yellow), -120px 50px var(--yellow),
    /* column 8 */ -110px -180px white, -110px -170px white, -110px -160px white,
    -110px -150px var(--red), -110px -140px var(--red),
    -110px -130px var(--yellow), -110px -120px var(--yellow),
    -110px -110px var(--red), -110px -100px white, -110px -90px white,
    -110px -80px white, -110px -70px white, -110px -60px white,
    -110px -50px white, -110px -40px white, -110px -30px var(--yellow),
    -110px -20px var(--yellow), -110px -10px var(--yellow),
    -110px 0px var(--yellow), -110px 10px var(--yellow), -110px 20px white,
    -110px 30px var(--yellow), -110px 40px var(--yellow),
    -110px 50px var(--yellow), /* column 9 */ -100px -180px white,
    -100px -170px white, -100px -160px white, -100px -150px white,
    -100px -140px var(--yellow), -100px -130px var(--yellow),
    -100px -120px var(--yellow), -100px -110px white,
    -100px -100px var(--dark-blue), -100px -90px var(--dark-blue),
    -100px -80px var(--dark-blue), -100px -70px var(--dark-blue),
    -100px -60px var(--dark-blue), -100px -50px white, -100px -40px white,
    -100px -30px white, -100px -20px white, -100px -10px white,
    -100px 0px var(--yellow), -100px 10px var(--yellow),
    -100px 20px var(--yellow), -100px 30px var(--yellow),
    -100px 40px var(--yellow), -100px 50px white,
    /* column 10 */ -90px -180px white, -90px -170px white, -90px -160px white,
    -90px -150px white, -90px -140px var(--red), -90px -130px var(--red),
    -90px -120px white, -90px -110px white, -90px -100px var(--dark-blue),
    -90px -90px var(--dark-blue), -90px -80px var(--dark-blue),
    -90px -70px var(--dark-blue), -90px -60px var(--dark-blue),
    -90px -50px white, -90px -40px white, -90px -30px var(--yellow),
    -90px -20px var(--yellow), -90px -10px var(--yellow),
    -90px 0px var(--yellow), -90px 10px var(--yellow), -90px 20px var(--yellow),
    -90px 30px var(--yellow), -90px 40px white, -90px 50px white,
    /* column 11 */ -80px -180px white, -80px -170px white, -80px -160px white,
    -80px -150px white, -80px -140px var(--red), -80px -130px white,
    -80px -120px white, -80px -110px white, -80px -100px white,
    -80px -90px var(--dark-blue), -80px -80px var(--dark-blue),
    -80px -70px white, -80px -60px white, -80px -50px white, -80px -40px white,
    -80px -30px var(--yellow), -80px -20px var(--yellow),
    -80px -10px var(--yellow), -80px 0px var(--yellow), -80px 10px white,
    -80px 20px white, -80px 30px white, -80px 40px white, -80px 50px white,
    /* column 12 */ -70px -180px white, -70px -170px white, -70px -160px white,
    -70px -150px white, -70px -140px white, -70px -130px white,
    -70px -120px white, -70px -110px white, -70px -100px white,
    -70px -90px white, -70px -80px var(--dark-blue),
    -70px -70px var(--dark-blue), -70px -60px white, -70px -50px white,
    -70px -40px white, -70px -30px white, -70px -20px white, -70px -10px white,
    -70px 0px white, -70px 10px white, -70px 20px white, -70px 30px white,
    -70px 40px white, -70px 50px white, /* column 13 */ -60px -180px white,
    -60px -170px white, -60px -160px white, -60px -150px var(--light-blue),
    -60px -140px var(--light-blue), -60px -130px var(--light-blue),
    -60px -120px var(--light-blue), -60px -110px white,
    -60px -100px var(--dark-blue), -60px -90px var(--dark-blue),
    -60px -80px var(--dark-blue), -60px -70px var(--dark-blue),
    -60px -60px var(--dark-blue), -60px -50px white, -60px -40px white,
    -60px -30px var(--yellow), -60px -20px var(--yellow),
    -60px -10px var(--yellow), -60px 0px var(--yellow), -60px 10px var(--yellow),
    -60px 20px var(--yellow), -60px 30px var(--yellow), -60px 40px var(--yellow),
    -60px 50px white, /* column 14 */ -50px -180px white, -50px -170px white,
    -50px -160px white, -50px -150px white, -50px -140px white,
    -50px -130px var(--light-blue), -50px -120px white, -50px -110px white,
    -50px -100px var(--dark-blue), -50px -90px var(--dark-blue),
    -50px -80px var(--dark-blue), -50px -70px var(--dark-blue),
    -50px -60px var(--dark-blue), -50px -50px white, -50px -40px white,
    -50px -30px var(--yellow), -50px -20px var(--yellow),
    -50px -10px var(--yellow), -50px 0px var(--yellow), -50px 10px var(--yellow),
    -50px 20px var(--yellow), -50px 30px var(--yellow), -50px 40px var(--yellow),
    -50px 50px white, /* column 15 */ -40px -180px white, -40px -170px white,
    -40px -160px white, -40px -150px var(--light-blue),
    -40px -140px var(--light-blue), -40px -130px var(--light-blue),
    -40px -120px var(--light-blue), -40px -110px white, -40px -100px white,
    -40px -90px white, -40px -80px white, -40px -70px white, -40px -60px white,
    -40px -50px white, -40px -40px white, -40px -30px var(--yellow),
    -40px -20px var(--yellow), -40px -10px white, -40px 0px var(--yellow),
    -40px 10px var(--yellow), -40px 20px white, -40px 30px var(--yellow),
    -40px 40px var(--yellow), -40px 50px white,
    /* column 16 */ -30px -180px white, -30px -170px white, -30px -160px white,
    -30px -150px white, -30px -140px white, -30px -130px white,
    -30px -120px white, -30px -110px white, -30px -100px var(--dark-blue),
    -30px -90px var(--dark-blue), -30px -80px var(--dark-blue),
    -30px -70px var(--dark-blue), -30px -60px var(--dark-blue),
    -30px -50px white, -30px -40px white, -30px -30px var(--yellow),
    -30px -20px var(--yellow), -30px -10px white, -30px 0px var(--yellow),
    -30px 10px var(--yellow), -30px 20px white, -30px 30px var(--yellow),
    -30px 40px var(--yellow), -30px 50px white,
    /* column 17 */ -20px -180px white, -20px -170px white, -20px -160px white,
    -20px -150px white, -20px -140px var(--orange), -20px -130px var(--orange),
    -20px -120px var(--orange), -20px -110px white,
    -20px -100px var(--dark-blue), -20px -90px var(--dark-blue),
    -20px -80px var(--dark-blue), -20px -70px var(--dark-blue),
    -20px -60px var(--dark-blue), -20px -50px white, -20px -40px white,
    -20px -30px var(--yellow), -20px -20px var(--yellow), -20px -10px white,
    -20px 0px white, -20px 10px white, -20px 20px white,
    -20px 30px var(--yellow), -20px 40px var(--yellow), -20px 50px white,
    /* column 18 */ -10px -180px white, -10px -170px white, -10px -160px white,
    -10px -150px var(--orange), -10px -140px white, -10px -130px var(--orange),
    -10px -120px white, -10px -110px white, -10px -100px var(--dark-blue),
    -10px -90px white, -10px -80px var(--dark-blue), -10px -70px white,
    -10px -60px var(--dark-blue), -10px -50px white, -10px -40px white,
    -10px -30px white, -10px -20px white, -10px -10px white, -10px 0px white,
    -10px 10px white, -10px 20px white, -10px 30px white, -10px 40px white,
    -10px 50px white, /* column 19 */ 0px -180px white, 0px -170px white,
    0px -160px white, 0px -150px white, 0px -140px var(--orange),
    0px -130px var(--orange), 0px -120px var(--orange), 0px -110px white,
    0px -100px var(--dark-blue), 0px -90px white, 0px -80px var(--dark-blue),
    0px -70px white, 0px -60px var(--dark-blue), 0px -50px white,
    0px -40px white, 0px -30px white, 0px -20px var(--yellow),
    0px -10px var(--yellow), 0px 0px var(--yellow), 0px 10px var(--yellow),
    0px 20px var(--yellow), 0px 30px var(--yellow), 0px 40px var(--yellow),
    0px 50px white, /* column 20 */ 10px -180px white, 10px -170px white,
    10px -160px white, 10px -150px white, 10px -140px white, 10px -130px white,
    10px -120px white, 10px -110px white, 10px -100px white, 10px -90px white,
    10px -80px white, 10px -70px white, 10px -60px white, 10px -50px white,
    10px -40px white, 10px -30px var(--yellow), 10px -20px var(--yellow),
    10px -10px var(--yellow), 10px 0px var(--yellow), 10px 10px var(--yellow),
    10px 20px var(--yellow), 10px 30px var(--yellow), 10px 40px var(--yellow),
    10px 50px white, /* column 21 */ 20px -180px white, 20px -170px white,
    20px -160px white, 20px -150px var(--yellow), 20px -140px var(--yellow),
    20px -130px var(--yellow), 20px -120px var(--yellow), 20px -110px white,
    20px -100px var(--dark-blue), 20px -90px var(--dark-blue),
    20px -80px var(--dark-blue), 20px -70px var(--dark-blue),
    20px -60px var(--dark-blue), 20px -50px white, 20px -40px white,
    20px -30px var(--yellow), 20px -20px var(--yellow), 20px -10px white,
    20px 0px var(--yellow), 20px 10px var(--yellow), 20px 20px white,
    20px 30px white, 20px 40px white, 20px 50px white,
    /* column 22 */ 30px -180px white, 30px -170px white, 30px -160px white,
    30px -150px var(--yellow), 30px -140px white, 30px -130px var(--yellow),
    30px -120px white, 30px -110px white, 30px -100px var(--dark-blue),
    30px -90px var(--dark-blue), 30px -80px var(--dark-blue),
    30px -70px var(--dark-blue), 30px -60px var(--dark-blue), 30px -50px white,
    30px -40px white, 30px -30px var(--yellow), 30px -20px var(--yellow),
    30px -10px var(--yellow), 30px 0px var(--yellow), 30px 10px var(--yellow),
    30px 20px var(--yellow), 30px 30px var(--yellow), 30px 40px var(--yellow),
    30px 50px white, /* column 23 */ 40px -180px white, 40px -170px white,
    40px -160px white, 40px -150px white, 40px -140px var(--yellow),
    40px -130px white, 40px -120px white, 40px -110px white, 40px -100px white,
    40px -90px white, 40px -80px var(--dark-blue), 40px -70px var(--dark-blue),
    40px -60px white, 40px -50px white, 40px -40px white, 40px -30px white,
    40px -20px var(--yellow), 40px -10px var(--yellow), 40px 0px var(--yellow),
    40px 10px var(--yellow), 40px 20px var(--yellow), 40px 30px var(--yellow),
    40px 40px var(--yellow), 40px 50px white, /* column 24 */ 50px -180px white,
    50px -170px white, 50px -160px white, 50px -150px white, 50px -140px white,
    50px -130px white, 50px -120px white, 50px -110px white, 50px -100px white,
    50px -90px var(--dark-blue), 50px -80px var(--dark-blue), 50px -70px white,
    50px -60px white, 50px -50px white, 50px -40px white, 50px -30px white,
    50px -20px white, 50px -10px white, 50px 0px white, 50px 10px white,
    50px 20px white, 50px 30px white, 50px 40px white, 50px 50px white,
    /* column 25 */ 60px -180px white, 60px -170px white, 60px -160px white,
    60px -150px var(--green), 60px -140px var(--green), 60px -130px var(--green),
    60px -120px var(--green), 60px -110px white, 60px -100px var(--dark-blue),
    60px -90px var(--dark-blue), 60px -80px white, 60px -70px white,
    60px -60px white, 60px -50px white, 60px -40px white,
    60px -30px var(--yellow), 60px -20px var(--yellow), 60px -10px var(--yellow),
    60px 0px var(--yellow), 60px 10px var(--yellow), 60px 20px var(--yellow),
    60px 30px var(--yellow), 60px 40px var(--yellow), 60px 50px white,
    /* column 26 */ 70px -180px white, 70px -170px white, 70px -160px white,
    70px -150px var(--green), 70px -140px white, 70px -130px var(--green),
    70px -120px white, 70px -110px white, 70px -100px white,
    70px -90px var(--dark-blue), 70px -80px var(--dark-blue), 70px -70px white,
    70px -60px white, 70px -50px white, 70px -40px white,
    70px -30px var(--yellow), 70px -20px var(--yellow), 70px -10px var(--yellow),
    70px 0px var(--yellow), 70px 10px var(--yellow), 70px 20px var(--yellow),
    70px 30px var(--yellow), 70px 40px var(--yellow), 70px 50px white,
    /* column 27 */ 80px -180px white, 80px -170px white, 80px -160px white,
    80px -150px white, 80px -140px var(--green), 80px -130px white,
    80px -120px white, 80px -110px white, 80px -100px white, 80px -90px white,
    80px -80px var(--dark-blue), 80px -70px var(--dark-blue), 80px -60px white,
    80px -50px white, 80px -40px white, 80px -30px var(--yellow),
    80px -20px var(--yellow), 80px -10px white, 80px 0px white,
    80px 10px var(--yellow), 80px 20px var(--yellow), 80px 30px white,
    80px 40px white, 80px 50px white, /* column 28 */ 90px -180px white,
    90px -170px white, 90px -160px white, 90px -150px white, 90px -140px white,
    90px -130px white, 90px -120px white, 90px -110px white,
    90px -100px var(--dark-blue), 90px -90px var(--dark-blue),
    90px -80px var(--dark-blue), 90px -70px var(--dark-blue),
    90px -60px var(--dark-blue), 90px -50px white, 90px -40px white,
    90px -30px var(--yellow), 90px -20px var(--yellow), 90px -10px var(--yellow),
    90px 0px var(--yellow), 90px 10px var(--yellow), 90px 20px var(--yellow),
    90px 30px var(--yellow), 90px 40px var(--yellow), 90px 50px white,
    /* column 29 */ 100px -180px white, 100px -170px white, 100px -160px white,
    100px -150px var(--pink), 100px -140px var(--pink), 100px -130px white,
    100px -120px white, 100px -110px white, 100px -100px var(--dark-blue),
    100px -90px var(--dark-blue), 100px -80px var(--dark-blue),
    100px -70px var(--dark-blue), 100px -60px var(--dark-blue),
    100px -50px white, 100px -40px white, 100px -30px white,
    100px -20px var(--yellow), 100px -10px var(--yellow),
    100px 0px var(--yellow), 100px 10px white, 100px 20px var(--yellow),
    100px 30px var(--yellow), 100px 40px var(--yellow), 100px 50px white,
    /* column 30 */ 110px -180px white, 110px -170px white, 110px -160px white,
    110px -150px white, 110px -140px white, 110px -130px var(--pink),
    110px -120px var(--pink), 110px -110px white, 110px -100px white,
    110px -90px white, 110px -80px white, 110px -70px white, 110px -60px white,
    110px -50px white, 110px -40px white, 110px -30px white, 110px -20px white,
    110px -10px white, 110px 0px white, 110px 10px white, 110px 20px white,
    110px 30px white, 110px 40px white, 110px 50px white,
    /* column 31 */ 120px -180px white, 120px -170px white, 120px -160px white,
    120px -150px var(--pink), 120px -140px var(--pink), 120px -130px white,
    120px -120px white, 120px -110px white, 120px -100px white,
    120px -90px white, 120px -80px white, 120px -70px white, 120px -60px white,
    120px -50px white, 120px -40px white, 120px -30px white, 120px -20px white,
    120px -10px white, 120px 0px white, 120px 10px white, 120px 20px white,
    120px 30px white, 120px 40px white, 120px 50px white,
    /* column 32 */ 130px -180px white, 130px -170px white, 130px -160px white,
    130px -150px white, 130px -140px white, 130px -130px white,
    130px -120px white, 130px -110px white, 130px -100px white,
    130px -90px white, 130px -80px white, 130px -70px white, 130px -60px white,
    130px -50px white, 130px -40px white, 130px -30px var(--red),
    130px -20px var(--red), 130px -10px var(--red), 130px 0px var(--red),
    130px 10px var(--red), 130px 20px var(--red), 130px 30px white,
    130px 40px var(--red), 130px 50px var(--red),
    /* column 33 */ 140px -180px white, 140px -170px white, 140px -160px white,
    140px -150px white, 140px -140px white, 140px -130px white,
    140px -120px white, 140px -110px white, 140px -100px white,
    140px -90px white, 140px -80px white, 140px -70px white, 140px -60px white,
    140px -50px white, 140px -40px white, 140px -30px var(--red),
    140px -20px var(--red), 140px -10px var(--red), 140px 0px var(--red),
    140px 10px var(--red), 140px 20px var(--red), 140px 30px white,
    140px 40px var(--red), 140px 50px var(--red),
    /* column 34 */ 150px -180px white, 150px -170px white, 150px -160px white,
    150px -150px white, 150px -140px white, 150px -130px white,
    150px -120px white, 150px -110px white, 150px -100px white,
    150px -90px white, 150px -80px white, 150px -70px white, 150px -60px white,
    150px -50px white, 150px -40px white, 150px -30px white, 150px -20px white,
    150px -10px white, 150px 0px white, 150px 10px white, 150px 20px white,
    150px 30px white, 150px 40px white, 150px 50px white,
    /* column 35 */ 160px -180px white, 160px -170px white, 160px -160px white,
    160px -150px white, 160px -140px white, 160px -130px white,
    160px -120px white, 160px -110px white, 160px -100px white,
    160px -90px white, 160px -80px white, 160px -70px white, 160px -60px white,
    160px -50px white, 160px -40px white, 160px -30px white, 160px -20px white,
    160px -10px white, 160px 0px white, 160px 10px white, 160px 20px white,
    160px 30px white, 160px 40px white, 160px 50px white;
}
